@charset "UTF-8"

* {
  margin: 0;
  padding: 0;
}

/*背景画像*/
body {
  width: 100%;
  margin: 0;
  background-image: url(image/bg_main_space.jpg);
  background-attachment: fixed; /*背景を固定*/
  color: white;
}

/*リンク*/
a:link { color:cyan;text-decoration:none; }
a:visited { color:turquoise;text-decoration:none; }
a:hover { color:paleturquoise; }
a:active { color:white; }

/*共通ヘッダー*/
header {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  color: lightcyan;
  background: black;
  overflow: hidden;
  position:fixed;
  top:0;
}
header .headline{
  margin: 0;
  padding-top: 12px;
  padding-bottom: 5px;
  font-size: 32px;
  color: lightcyan;
  text-align: center;
}
.nav-list {
  text-align: center;
  margin: 0 auto;
  background-color: black;
  border-bottom: 4px solid steelblue;
  font-size:0;  /*リスト間の空白をなくすために指定*/
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  border: solid black;
  border-width: 5px 20px;
  color: white;
  background-color: black;
  text-decoration: none;
  font-size:16px;  /*リスト間の空白をなくすために指定*/
}
.nav-list-item a:link { color:white;text-decoration:none; }
.nav-list-item a:visited { color:white;text-decoration:none; }
.nav-list-item a:hover { color:lightcyan;text-decoration:none; }
.nav-list-item a:active { color:cyan;text-decoration:none; }
.nav-list-item:hover {
  background-color: steelblue;
  border: solid steelblue;
  border-width: 5px 20px;
  transition: 0.3s ;
}

/*共通フッター*/
footer {
  margin: 0;
  padding: 0;
  width: 100%;
  color: lightcyan;
  background: #000022;
  overflow: hidden;
  position:fixed;
  bottom:0;
}
footer .copyright{
  text-indent: 1rem;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 10px;
  color: lightcyan;
  text-align: left;
}

/*各種要素*/
/*本文*/
main {
  width: 80%;
  max-width: 1000px;
  margin-left: auto; /*中央揃えのため*/
  margin-right: auto; /*中央揃えのため*/
  padding: 103px 16px 0;
  min-height: 100vh;
  min-height: 100svh;
  background:rgba(0,0,0,0.6)
}

/*見出し*/
h2 {
  padding: 6px 6px;
  font-size: 24px;
  background: #284a66;
  -webkit-box-shadow: 5px 5px 0 #1e384d;
  box-shadow: 5px 5px 0 #1e384d;
}
h3 {
  margin: 15px 0 0;
  padding: 0 6px 6px;
  border-bottom: solid 1px lightcyan;
  font-size: 21px;
}
h4 {
  margin: 20px 0 0;
  padding: 0 6px 0;
  font-size: 18px;
  border-left: 6px solid lightcyan;
  line-height: 1.2;
}
h5 {
  margin: 3px 5px;
  font-size: 15px;
  text-decoration: underline;
  text-underline-offset: 3px;
}

/*本文 - 字下げ*/
p.indent {
  text-indent: 1em;
}

/*説明リスト*/
dt {
  font-weight: bold;
}

/*画像*/
figure {
  margin: auto;
  padding: 5px;
  max-width: 250px;
  display: flex;
  flex-flow: column;
  border: medium #1e384d solid;
}
figure img {
  max-width: 250px;
  max-height: 165px;
}
figure figcaption {
  background-color: #122533;
  color: #fff;
  padding: 3px;
  font-size: 11px;
  text-align: center;
}
figure.figure_left{
  float: left;
  margin-right: 1.5em;
}
figure.figure_right{
  float: right;
  margin-left: 1.5em;
}